@charset "UTF-8";

:root {
    --cor1: #025159;
    --cor2: #3F858C;
    --cor3: #7AB8BF;
    --cor4: #C4EEF2;
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden ;
}

body {
    width: 100vw;
    height: 100vh;
    /*background-image: linear-gradient(45deg, var(--cor4), var(--cor3), var(--cor2));*/
    background-color: var(--cor3);
    font-family: Arial, Helvetica, sans-serif;
}

header > h1 {
    color: var(--cor1);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    padding-top: 15px;
    text-align: center;
    font-size: 35px;
}

label {
    display: flex;
    margin: 2px 0px;
    transition: .4s;
}

label:hover {
    color:var(--cor4);
}

fieldset > legend {
    color: var(--cor1);
    font-weight: bold;
}

fieldset {
    display: inline block;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    border-color: var(--cor2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#fild1 {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 75vw;
    padding: 5px;
    margin-top: 10px;
}

#fild2 {
    display: flex;
    flex-direction: column;
    height: 51vh;
    width: 75vw;
    padding: 5px;
    margin-top: 10px ;
}

fieldset > p {
    color: white;
    font-weight: 600;
    padding: 5px;

}
#res {
    display: flex;
    
    height: 30vh;
    padding: 10px;
    line-height: 20px;
    font-weight: 600;
    color: white;
}

#tot {
    color: var(--cor1);
    border-radius: 10px;
    padding: 5px;
    margin-top: 80px;
    font-weight: bold;
}

input {
    display: inline-block;
    width: 140px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 5px;
    color: var(--cor2);
}

#button {
    border: none;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    width: 90px;
    color: white;
    background-color: var(--cor1);
    transition: .4s;
}

#button:hover {
    background-color: var(--cor2);
    color: white;
}
